.container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;

  &:after {
    display: block;
    position: absolute;
    width: 110%;
    height: 110%;
    left: -5%;
    top: -5%;
    z-index: -1;
    content: '';
    background: fixed no-repeat center/cover url('https://d3kxs6kpbh59hp.cloudfront.net/community/COMMUNITY/4f61feae0c2542e38eae8480ad8ac585/5ba757b89e6545acb90fb4b5d5b5f396_1566106950.png') rgba(0, 0, 0, 0.5);
    font-size: 72px;
    font-weight: bold;
    filter: blur(5px);
  }

  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: transparent;
    background: local center/50% url('https://media3.giphy.com/media/l4KihuqeuJEi9qLSM/giphy.gif');
    -webkit-background-clip: text;
    font-size: 5rem;
    margin: 0;
    text-align: center;
  }
}